<form class="verticalForm" (ngSubmit)="onSubmit()" #reimbursementForm="ngForm">
    <h1>Reimbursement Form</h1>

    <!-- Date Input -->
    <mat-form-field appearance="fill">
        <mat-label>Purchase Date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" [(ngModel)]="formData.purchaseDate" name="purchaseDate" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Amount Input -->
    <mat-form-field appearance="fill">
        <mat-label>Amount ($)</mat-label>
        <input matInput type="number" placeholder="0.00" [(ngModel)]="formData.purchaseAmount" name="purchaseAmount" required>
    </mat-form-field>

    <!-- Text Description Input -->
    <mat-form-field appearance="fill">
        <mat-label>Expense Description</mat-label>
        <textarea matInput [(ngModel)]="formData.description" name="description" required></textarea>
    </mat-form-field>

    <!-- File Upload Input -->
    <div class="file-upload-container">
        <mat-form-field appearance="fill" class="file-upload-field">
            <mat-label>Upload Receipt<span class="required-asterisk">*</span></mat-label>
            <input matInput [value]="selectedFile?.name || 'No file selected'" readonly>
            <button mat-button matSuffix type="button" (click)="fileInput.click()">Browse</button>
        </mat-form-field>
        <input #fileInput id="fileUploadInput" type="file" hidden (change)="onFileSelected($event)">
    </div>

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
