
<form class="verticalForm">
    <h1>Reimbursement Form</h1>
    <!-- Date Input -->
    <mat-form-field appearance="fill">
        <mat-label>Purchase Date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Number Input -->
    <mat-form-field appearance="fill">
        <mat-label>Amount ($)</mat-label>
        <input matInput type="text" placeholder="0.00" name="amountInput">
    </mat-form-field>

    <!-- Text Description -->
    <mat-form-field appearance="fill">
        <mat-label>Expense Description</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <!-- File Upload -->
    <div class="file-upload-container">
        <mat-form-field appearance="fill" class="file-upload-field">
            <mat-label>Upload Receipt</mat-label>
            <input matInput [value]="selectedFile?.name || 'No file selected'" readonly>
            <button mat-button matSuffix (click)="fileInput.click()">Browse</button>
        </mat-form-field>
        <input #fileInput id="fileUploadInput" type="file" hidden (change)="onFileSelected($event)">
    </div>


    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit">Submit</button>

</form>